.img{
    z-index: 2;
    position: absolute
    top: 8px;
    left:8px;
    height;
    width:230px;
    padding: 10px;
    lign-content:center;
    background-color:rgb(68,68,193);
    }

 div#layer1{
    z-index: 1;
    position: relative;
    text-align: left;
    top: 0px;
    left: 0px;
    right: 0%;
    height:;
    width:100%;
    padding: 10px;
    padding-left: 5px;
    background-color: rgb(68, 68, 193);
    display: flex;
    }

h1{
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 50px;
}

h2{
    margin-top: 0;
    font-size: 15px;
}
h4{
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
}

p{
    margin-top: 10px;
}
div#nav{
    z-index:1;
    position:relative;
    display: flex;
    top:0;
    left: 0px;
    right: 0px;
    padding-right:;
    text-decoration: none;
    padding-top: 5px;
    padding-left:10%;
    background-color:gray;
    width: 100%;
    height:;

}
#menu{
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
}

#menu:hover{
    background-color: antiquewhite;
    color: black;
}
div#content{
    z-index: 1;
    position:relative;
    top:0px;
    left: 0px;
    right: 0px;
    background-color: aqua;
    width: 100%;
    padding-top: 30px;
    padding-right: 30%;
    padding-left: 8%;
    padding-bottom: 40px;
    height: 100%;
}

*{
    box-sizing: border-box;
    
}
#float{
    float: left;
    width: 20%;
    margin: 2%;
    margin-top: 1px;
}
div#flex{
    display: block;
    align-content: center;
    align-items: center;
}
div.flex_item{
    width: 200px;
    padding-bottom: 34px;
    justify-content: center;
    align-items: center;
}
div.img_{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    justify-content: center;
    justify-content: space-around;
    align-items: baseline;
    align-items: center;
    align-content: center;
    padding-left: 8%;
    padding-right: 8%;
    background-color: aqua;
}
.img_flex{
    width: 200px;
    border: 2px solid black;
}
div.footer{
    display: flex;
    color: white;
    background-color: black;
    justify-content: center;
    justify-content: space-around;
}
@media screen and (max-width: 400px){
    div#nav{
        background-color:red;
        padding: left 10px;
        margin: 0px; 
        font-size: 8px;
        padding-left: 0px;
        padding-top: 2px;
        
        
    }
    
    h1{
        margin-top: 10px;
        margin-bottom: 0px;
        font-size: 20px;
    }
    h2{
        margin-top: 0;
        font-size: 10px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        margin-top: 2px;
    }
    p{
        font-size: 10px;
        padding-right: 15px;

    }
    div#layer1{
        display: flex;
    }
    .img{
        width: 50px;
        clip-path: circle(50% at 50% 50%);
    }
    div#content{
        z-index: 1;
        position:relative;
        top:0px;
        left: 0px;
        right: 0px;
        background-color: aqua;
        width: 100%;
        padding-top: 4px;
        padding-right:5px;
        padding-left:8px;
        padding-bottom: 10px;
        height: 100%;
    }
    h3{
        margin-bottom: 0px;
        margin-top: 0px;
        
    }
    li{
        font-size: 15px;
    }
    ul{
        padding-left: 10px;
    }
    .img{
        z-index: 1;
        height: 70px;
        width: 65px;
        padding: 4px;
    }
    div#layer1{
        display: flex;
    }
    div#img{
        width: 75px;
    }
    *{
        box-sizing:border-box;
    }
}